<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome Dr. Seuss!</h1>
    <p>Check out all these links for some of your stories</p>
    <a href="https://www.readstoriesforkids.com/Green-Eggs-and-Ham-text.html">Green Eggs and Ham</a><br>
    <a href="https://www.readstoriesforkids.com/Cat-In-The-Hat-Story.html">The Cat in the Hat</a><br>
    <a href="https://www.readstoriesforkids.com/The-Lorax-Story.htm">The Lorax</a><br>
    <a href="https://www.readstoriesforkids.com/One-Fish-Two-Fish-Red-Fish-Blue-Fish.html">One Fish Two Fish Red Fish Blue Fish</a><br>
</body>
</html>